.popup {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: block;
}

.popup:target {
    display: block; /* Насколько я понял так делать не нужно было, просто хотелось для души чтобы работало :) */
}