.profile__name {
    max-width: 300px;
    grid-area: name;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    align-self: flex-end;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 920px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        justify-self: center;
        max-width: 232px;
    }
}