.popup__close {
    background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    max-width: 32px;
    width: 100%;
    max-height: 32px;
    height: 100%;
    position: absolute;
    top: -35px;
    right: -35px;
    cursor: pointer;
    border: 0;
}

.popup__close:hover {
    opacity: 0.8;
}

@media (max-width: 1279px) {
    .popup__close {
        max-width: 24px;
        width: 100%;
        max-height: 24px;
        height: 100%;
        top: -40px;
        right: 0;
    }
}