.profile__add-button {
    grid-area: add-button;
    min-width: 150px;
    min-height: 50px;
    background-image: url(../../../images/add-button.svg);
    background-repeat: no-repeat;
    align-self: center;
    justify-self: flex-end;
    cursor: pointer;
    border: 0;
    background-color: #000;
    padding: 0;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media (max-width: 920px) {
    .profile__add-button {
        grid-area: add-button;
        min-width: 282px;
        background-image: url(../../../images/add-button-big.svg);
        background-repeat: no-repeat;
        justify-self: center;
    }
}