.profile__info {
    grid-area: info;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    align-self: flex-start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 1279px) {
    .profile__info {
        font-size: 14px;
        line-height: 17px;
        justify-self: center;
        margin-top: 14px;
    }
}