.popup__input {
    margin: 0;
    padding: 13px 10px;
    border: 0;
    border-bottom: solid rgba(0, 0, 0, 0.8) 1px;
    font-family: inherit;
    font-size: 14px;
    line-height: 17px;
    max-width: 358px;
    width: 100%;
    min-height: 27px;
}

@media (max-width: 1279px) {
    .popup__input {
        max-width: 238px;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}