.popup__add-close {
    background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    max-width: 32px;
    width: 100%;
    max-height: 32px;
    height: 100%;
    position: absolute;
    top: -35px;
    right: -35px;
    cursor: pointer;
    border: 0;
}

.popup__add-close:hover {
    opacity: 0.8;
    transition: linear 0.5s;
}

@media (max-width: 1279px) {
    .popup__add-close {
        max-width: 24px;
        width: 100%;
        max-height: 24px;
        height: 100%;
        top: -40px;
        right: 0;
    }
}