.grid__list-heart_type_active {
    background-image: url(../../../../images/heart__black.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 22px;
    width: 100%;
    min-height: 19px;
    border: 0;
    cursor: pointer;

    /*background-image: url(../../../images/heart__black.svg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: linear 0.3;*/
}