.card__heart {
    background-image: url(../../../images/heart.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 22px;
    width: 100%;
    min-height: 19px;
    border: 0;
    cursor: pointer;
}

.card__heart:hover {
    opacity: .5;
    transition: linear 0.3;
}